@use "constants";

#logo {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

  #logo {
    height: constants.$header-height-phone*0.8;
    position: fixed;
    z-index: 2;
    top: constants.$header-height-phone *1.1;
    left: calc(constants.$sidebar-width*0.15);
    // border: 1px solid black;
  }


  #left-content {
    width: 100%;
    height: constants.$header-height-phone;
    position: fixed;
    top: 0;
    left: 0;
    background-color: constants.$background-color-sidebar;
  }
  
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: constants.$header-height-phone;

    // elements in a row and center them vertically and horizontally
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: constants.$background-color-sidebar;
  }



  #right-content {

    width: 100%;
    height: 100%;
    position: fixed;
    top: constants.$header-height;
    left: 0;
    // border: 1px solid black;
    background-color: constants.$background-color-content;
  }
  
  #header {
    height: constants.$header-height-phone;
    width: constants.$header-width;
    z-index: 1;
    // position: absolute;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // align-content: center;
    // text-align: center;
    // border: 1px solid black;
    background-color: constants.$background-color-header;
  }
  
  #search-results {
    width: constants.$search-bar-width;
    position: relative;
    left: 25%;
    z-index: 5;
    background: white
    
  }
  
  #center-content-footer {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: constants.$header-height;
    left: 0;
    // border: 1px solid black;
  }
  
  #center-content {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 8%;

    // border: 1px solid black;
  }
  
  #footer {
    height: 2%;
    width: 100%;
    z-index: 3;
    bottom: 0;
    background-color: constants.$background-color-footer;
    // center on the page the text inside the footer
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: absolute;
    padding-bottom: 1%;

} 
}













@media only screen and (min-width: 600px) {


  #logo {
    height: constants.$header-height*0.8;

    position: fixed;
    left: constants.$sidebar-width*1.15;
    z-index: 2;
   
    // border: 1px solid black;
  }


#left-content {
    width: constants.$sidebar-width;
    height: constants.$sidebar-height;
    position: fixed;
    top: 0;
    left: 0;
    // border: 1px solid black;

    background-color: constants.$background-color-sidebar;
  }
  
  #right-content {
    width: constants.$right-content-width;
    height: constants.$right-content-height;
    position: fixed;
    
    top: 0;
    left: constants.$sidebar-width;
    // border: 1px solid black;
    background-color: constants.$background-color-content;
  }

  #sidebar {
    margin-top: calc(constants.$header-height + constants.$margin-top);
  }
  
  #header {
    height: constants.$header-height;
    width: constants.$header-width;
    z-index: 1;
    // position: absolute;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // align-content: center;
    // text-align: center;
    // border: 1px solid black;
    background-color: constants.$background-color-header;
  }

  #search-results {
    width: constants.$search-bar-width;
    position: relative;
    left: 25%;
    z-index: 5;
    background: white
    
  }
 
  
  #center-content-footer {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: constants.$header-height;
    left: 0;
    // border: 1px solid black;
  }
  
  #center-content {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 8%;

    // border: 1px solid black;
  }
  
  #footer {
    height: 2%;
    width: 100%;
    z-index: 3;
    bottom: 0;
    background-color: constants.$background-color-footer;
    position: fixed;
    padding-bottom: 2.5%;

    

  }
  
  span {
    display: block;
  }
}