@use "constants";

body {
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 40px; // increased margin-bottom to add space between contact messages and the chat
}

#user-info-section {
    border-right: 1px solid #ddd;
}

@media (max-width: 767px) {
    #user-info-section {
        border-right: none;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }
}

.list-group-item {
    cursor: pointer;
    color: #333 !important;
}

#chat {
    position: relative;
    margin-top: 20px;
    height: calc(100% - 60px);
}

#back-button {
    position: absolute;
    top: -65px;
    left: 0;
}

#chat-content {
    margin-top: 20px;
    height: calc(100% - 90px - 48px); // subtract 48px to accommodate the message-input height
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
}

.message {
    margin-bottom: 10px;
}

.message.support {
    text-align: right;
}

.message-text {
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.message.support .message-text {
    background-color: #DCF8C6;
    color: #333;
    border-radius: 10px 10px 0 10px;
}

.message.user .message-text {
    background-color: #f1f1f1;
    color: #333;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 15px;
}

.list-group-item {
    color: #333 !important;
}

#message-input {
    position: absolute;
    bottom: 0; // set the bottom to 0 so the message-input is inside the chat rectangle
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    border-radius: 10px;
    background-color: constants.$background-color-header;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
}